#flex div {
	height: 40px;
	float: left;
}
#flexiconvert_container {
	width: 800px;
	margin: 35px 0 0 0;
}
#flexiconvert_row_container {
	height: 40px;
	width: 800px;
	float: left;
}

#flexiconvert_checkme {
	height: 40px;
	width: 50px;
	text-align: center;
	float: left;
}

#flexiconvert_title {
	height: 40px;
	width: 750px;
	float: left;
	text-align: left;
}
.odd {
	background: #edf5fa;
	border-top: 1px solid #d3e7f4;
}

.even {
	background: #ffffff;
	border-top: 1px solid #d3e7f4;
}